
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Session["IDNGUOIDUNG"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}
<div>
    <h3>User Name : @Session["TENDANGNHAP"].ToString()</h3>
    <a href="@Url.Action("LogOut","Account")">Logout</a>
</div>

