
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGiangvien.cshtml";
}

<h2>Giang Vien</h2>
<div>
    <a href="~/Giangvien/NamHoc">Điểm danh</a>
    <hr />
    <a href="~/Giangvien/NamHoc">Danh sách điểm danh</a>
</div>

