@model IEnumerable<HeThongDiemDanh.Models.diemdanh>
@{
    ViewBag.Title = "DanhSachDiemDanh";
    Layout = "~/Views/Shared/_LayoutGiangvien.cshtml";
}

<table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>STT</th>
            <th>MSSV</th>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td></td>
            <td>@Html.Raw(item.id) </td>
            <td>
                <input @(Convert.ToBoolean(item.cot1) == true ? "checked='checked'" : string.Empty) type="checkbox" />
            </td>
            <td>
                <input @(Convert.ToBoolean(item.cot2) == true ? "checked='checked'" : string.Empty) type="checkbox" />
            </td>
            <td>
                <input @(Convert.ToBoolean(item.cot3) == true ? "checked='checked'" : string.Empty) type="checkbox" />
            </td>
            <td>
                <input id="Checkbox2" type="checkbox" runat="server" class="checkboxes select-checkbox" value="test" />
            </td>
            <td>
                <input id="Checkbox3" type="checkbox" runat="server" class="checkboxes select-checkbox" value="test" />
            </td>
            <td>
                <input id="Checkbox4" type="checkbox" runat="server" class="checkboxes select-checkbox" value="test" />
            </td>
            <td>
                <input id="Checkbox5" type="checkbox" runat="server" class="checkboxes select-checkbox" value="test" />
            </td>
            <td>
                <input id="Checkbox6" type="checkbox" runat="server" class="checkboxes select-checkbox" value="test" />
            </td>
            <td>
                <input id="Checkbox7" type="checkbox" runat="server" class="checkboxes select-checkbox" value="test" />
            </td>

        </tr>
        }
    </tbody>
</table>